site_name: GitOps Promoter - A GitOps First Environment Promotion Tool
repo_url: https://github.com/argoproj-labs/gitops-promoter
site_url: https://argo-gitops-promoter.readthedocs.io/
theme:
  font:
    text: Work Sans
  logo: assets/logo.png
  name: material
  features:
    - content.code.copy
  palette:
    - primary: teal
      scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
markdown_extensions:
  - markdown_include.include
  - codehilite:
      css_class: highlight
  - admonition
  - pymdownx.superfences
nav:
  - Overview: index.md
  - Getting Started: getting-started.md
  - Architecture: architecture.md
  - Custom Hydrator: custom-hydrator.md
  - CRD Specs: crd-specs.md
  - Gating Promotions: gating-promotions.md
  - CommitStatus Controllers:
      - Argo CD: commit-status-controllers/argocd.md
      - Git Commit: commit-status-controllers/git-commit.md
      - Timed: commit-status-controllers/timed.md
      - Development Best Practices: commit-status-controllers/development-best-practices.md
  - Multi-Tenancy: multi-tenancy.md
  - Monitoring:
      - Overview: monitoring/index.md
      - Events: monitoring/events.md
      - Logs: monitoring/logs.md
      - Metrics: monitoring/metrics.md
  - Tool Comparison: tool-comparison.md
  - FAQs: faqs.md
  - Tutorials:
      - Argo CD Apps: tutorial-argocd-apps.md
  - Argo CD Integrations: argocd-integrations.md
plugins:
  - gh-admonitions
  - redirects:
      redirect_maps:
        'metrics.md': 'monitoring/metrics.md' # Page was moved to a subdirectory.