apiVersion: v1
kind: Service
metadata:
  name: controller-manager-metrics-service
  labels:
    control-plane: controller-manager
    app.kubernetes.io/name: service
    app.kubernetes.io/instance: controller-manager-metrics-service
    app.kubernetes.io/component: metrics
    app.kubernetes.io/created-by: promoter
    app.kubernetes.io/part-of: promoter
    app.kubernetes.io/managed-by: kustomize
spec:
  selector:
    control-plane: controller-manager
  ports:
    - name: https
      port: 8443
      protocol: TCP
      targetPort: https
