apiVersion: promoter.argoproj.io/v1alpha1
kind: ControllerConfiguration
metadata:
  name: example-controller-configuration
spec:
  pullRequest:
    template:
      title: "Promote {{ trunc 5 .ChangeTransferPolicy.Status.Proposed.Dry.Sha }} to `{{ .ChangeTransferPolicy.Spec.ActiveBranch }}`"
      description: "This PR is promoting the environment branch `{{ .ChangeTransferPolicy.Spec.ActiveBranch }}` which is currently on dry sha {{ .ChangeTransferPolicy.Status.Active.Dry.Sha }} to dry sha {{ .ChangeTransferPolicy.Status.Proposed.Dry.Sha }}."
  promotionStrategyRequeueDuration: "5m"
  changeTransferPolicyRequeueDuration: "5m"
  argocdCommitStatusRequeueDuration: "15s"
  pullRequestRequeueDuration: "15s"
