@use '../components-lib/src/components/Card/layouts' as layouts;
@use '../components-lib/src/styles/colors' as *;

.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  color: #6b7280;
} 

.extension-container {
  @include layouts.extension-overrides;
  
  // Override for horizontal layout when 4+ environments
  .env-cards-wrapper.horizontal-layout {
    gap: 8px;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding-left: 0;
    
    .env-card-column {
      width: 100%;
      max-width: 100%;
    }
    
    .env-card {
      width: 100%;
      max-width: 100%;
      min-width: 700px;
    }
  }
    .env-cards-container:has(.horizontal-layout) {
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding-left: 0;
  }
}

//Promotion status panel
.promotion-status-label {
  font-size: 12px !important;
  font-weight: 600 !important;
  color: rgb(109, 127, 139) !important;
  margin-bottom: 5px !important;
  margin-top: 5px !important;
  text-transform: uppercase;
  position: relative !important;
  top: -3px !important;
}

// Status icon colors and text styling
.application-status-panel__item-value {
  .synced {
    color: $argo-success;
  }
  
  .pending {
    color: $argo-running;
  }
  
  .unknown {
    color: $argo-failed;
  }
  
  .default {
    color: $argo-color-gray-5;
  }
  
  // Spacing between icon and text
  i {
    margin-right: 8px !important;
  }
  
  .promotion-status-text {
    &.promoted {
      color: $argo-success !important;
    }
    
    &.pending {
      color: $argo-running !important;
    }
    
    &.unknown {
      color: $argo-failed !important;
    }
    
    &.default {
      color: $argo-color-gray-5 !important;
    }
  }
}

// Spacing between summary and button
.promotion-summary {
  margin-bottom: 8px !important;
}

.application-status-panel__item .status-icon {
  margin-right: 8px !important;
  font-size: 1em !important;
}


