# permissions for end users to edit changetransferpolicies.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: promoter
    app.kubernetes.io/managed-by: kustomize
  name: changetransferpolicy-editor-role
rules:
- apiGroups:
  - promoter.argoproj.io
  resources:
  - changetransferpolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - promoter.argoproj.io
  resources:
  - changetransferpolicies/status
  verbs:
  - get
