# permissions for end users to view commitstatuses.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: promoter
    app.kubernetes.io/managed-by: kustomize
  name: commitstatus-viewer-role
rules:
- apiGroups:
  - promoter.argoproj.io
  resources:
  - commitstatuses
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - promoter.argoproj.io
  resources:
  - commitstatuses/status
  verbs:
  - get
