---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - argoproj.io
  resources:
  - applications
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - promoter.argoproj.io
  resources:
  - argocdcommitstatuses
  - changetransferpolicies
  - clusterscmproviders
  - commitstatuses
  - controllerconfigurations
  - gitrepositories
  - promotionstrategies
  - pullrequests
  - revertcommits
  - scheduledcommitstatuses
  - scmproviders
  - timedcommitstatuses
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - promoter.argoproj.io
  resources:
  - argocdcommitstatuses/finalizers
  - changetransferpolicies/finalizers
  - clusterscmproviders/finalizers
  - commitstatuses/finalizers
  - controllerconfigurations/finalizers
  - gitrepositories/finalizers
  - promotionstrategies/finalizers
  - pullrequests/finalizers
  - revertcommits/finalizers
  - scheduledcommitstatuses/finalizers
  - scmproviders/finalizers
  - timedcommitstatuses/finalizers
  verbs:
  - update
- apiGroups:
  - promoter.argoproj.io
  resources:
  - argocdcommitstatuses/status
  - changetransferpolicies/status
  - clusterscmproviders/status
  - commitstatuses/status
  - controllerconfigurations/status
  - gitrepositories/status
  - promotionstrategies/status
  - pullrequests/status
  - revertcommits/status
  - scheduledcommitstatuses/status
  - scmproviders/status
  - timedcommitstatuses/status
  verbs:
  - get
  - patch
  - update
