@use '../../../../components-lib/src/styles/colors' as *;

.applications-tiles {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  max-width: 1400px;
  margin: 0 auto;
}

.ps-tile {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);
  padding: 20px 18px 16px 18px;
  display: flex;
  flex-direction: column;
  min-height: 180px;
  border-left: 5px solid $argo-color-gray-4;
  transition: box-shadow 0.2s, border-color 0.2s;
  
  &--promoted {
    border-left-color: $argo-success;
  }

  &--unknown {
    border-left-color: $argo-running;
  }

  &--pending {
    border-left-color: $argo-running;
  }

  &--failure {
    border-left-color: $argo-failed;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1em;
  }
  &__icon {
    font-size: 2em;
    color: $argo-color-gray-7;
    margin-right: 8px;
  }
  &__name {
    font-size: 1.1em;
    font-weight: 600;
    color: $argo-color-gray-7;
    font-family: 'Heebo', sans-serif;
  }
  &__row {
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: start;
    margin-bottom: 8px;
    font-size: 1em;
  }
  
  &__label {
    color: $argo-color-gray-7;
    font-weight: 400;
    font-size: 13px;
    font-family: 'Heebo', sans-serif;
  }
  
  &__info {
    color: $argo-color-gray-7;
    font-size: 13px;
    font-family: 'Heebo', sans-serif;
    word-break: break-word;
  }
  
  &__envs {
    grid-column: 2;
    margin-left: 15px;
    padding-left: 0;
  }

  &__env-row-grid {
    display: grid;
    grid-template-columns: 1fr 32px;
    align-items: center;
    margin-bottom: 2px;
    font-size: 1em;
  }

  &__env-branch {
    color: $argo-color-gray-7;
    font-size: 13px;
    font-family: 'Heebo', sans-serif;
  }

  &__env-automerge {
    color: $argo-color-gray-5;
    font-size: 12px;
    margin-left: 4px;
  }

  &:hover {
    box-shadow: 0 0 0 2px $argo-running;
    border-left-color: $argo-running;
  }
} 