$argo-success: #18be94;
$argo-warning: #f4c030;
$argo-failed: #e96d76;
$argo-running: #0dadea;
$argo-gray4: #ccd6dd;
$argo-terminating: #de303d;
$argo-merged: #6f42c1;
$background-light: #dee6eb;
$background-dark: #100f0f;

$argo-color-gray-1: #f8f8f8;
$argo-color-gray-2: #f2f2f2;
$argo-color-gray-4: #e5e5e5;
$argo-color-gray-5: #b3b3b3;
$argo-color-gray-3: #6d7f8b;
$argo-color-gray-6: #7b8a97;
$argo-color-gray-7: #4b4b4b;
