@use '../styles/colors' as *;
@use './CardCommon';

.env-cards-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  width: 100%;
  gap: 10px;
}

.env-card-column {
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;
}

.env-card {
  background: white;
  padding: 20px 10px 20px 20px;
  flex-direction: column;
  margin-bottom: 38px;
  border-radius: 8px;
}

.env-card__header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-weight: 600;
}

.env-card__icon {
  font-size: 16px;
  color: #495763;
  margin-right: 8px;
  
}

.env-card__status-row {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 15px;
}

.status-icon {
  font-size: 13px;
  margin-right: 6px;
}

.env-card__status-label {
  font-size: 13px;
  font-weight: 500;
  color: $argo-color-gray-7;
}

@media (max-width: 700px) {
  .env-cards-container {
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-x: unset;
  }
  .env-card-column {
    max-width: 100%;
  }
}


