---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.20.1
  name: gitrepositories.promoter.argoproj.io
spec:
  group: promoter.argoproj.io
  names:
    kind: GitRepository
    listKind: GitRepositoryList
    plural: gitrepositories
    singular: gitrepository
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.scmProviderRef.name
      name: Provider
      type: string
    - jsonPath: .status.conditions[?(@.type=="Ready")].status
      name: Ready
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: GitRepository is the Schema for the gitrepositories API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: GitRepositorySpec defines the desired state of GitRepository
            properties:
              azureDevOps:
                description: AzureDevOpsRepo is a repository in Azure DevOps, identified
                  by its project and name.
                properties:
                  name:
                    description: Name is the name of the repository.
                    maxLength: 64
                    minLength: 1
                    type: string
                  project:
                    description: Project is the project name in Azure DevOps.
                    maxLength: 64
                    minLength: 1
                    type: string
                required:
                - name
                - project
                type: object
              bitbucketCloud:
                description: BitbucketCloudRepo is a repository in Bitbucket Cloud,
                  identified by its owner and name.
                properties:
                  name:
                    description: Name is the name of the repository.
                    maxLength: 62
                    minLength: 1
                    pattern: ^[a-zA-Z0-9_.-]+$
                    type: string
                  owner:
                    description: Owner is the owner of the repository (can be a user
                      or workspace).
                    minLength: 1
                    pattern: ^[a-zA-Z0-9_-]+$
                    type: string
                required:
                - name
                - owner
                type: object
              fake:
                description: FakeRepo is a placeholder for a repository in the fake
                  SCM provider, used for testing purposes.
                properties:
                  name:
                    description: Name is the name of the repository.
                    minLength: 1
                    type: string
                  owner:
                    description: Owner is the owner of the repository.
                    minLength: 1
                    type: string
                required:
                - name
                - owner
                type: object
              forgejo:
                description: ForgejoRepo is a repository in Forgejo, identified by
                  its owner and name.
                properties:
                  name:
                    description: Name is the name of the repository.
                    minLength: 1
                    type: string
                  owner:
                    description: Owner is the owner of the repository.
                    minLength: 1
                    type: string
                required:
                - name
                - owner
                type: object
              gitea:
                description: GiteaRepo is a repository in Gitea, identified by its
                  owner and name.
                properties:
                  name:
                    description: Name is the name of the repository.
                    type: string
                  owner:
                    description: Owner is the owner of the repository.
                    minLength: 1
                    type: string
                required:
                - name
                - owner
                type: object
              github:
                description: GitHubRepo is a repository in GitHub, identified by its
                  owner and name.
                properties:
                  name:
                    description: Name is the name of the repository.
                    maxLength: 100
                    minLength: 1
                    pattern: ^[a-zA-Z0-9_\-\.]+$
                    type: string
                  owner:
                    description: Owner is the owner of the repository, which can be
                      a user or an organization.
                    maxLength: 39
                    minLength: 1
                    pattern: ^[a-zA-Z0-9][a-zA-Z0-9\-]*$
                    type: string
                required:
                - name
                - owner
                type: object
              gitlab:
                description: GitLabRepo is a repository in GitLab, identified by its
                  namespace, name, and project ID.
                properties:
                  name:
                    description: Name is the project slug of the repository.
                    minLength: 1
                    pattern: ^[a-zA-Z0-9_\-\/.]+$
                    type: string
                  namespace:
                    description: Namespace is the user, group or group with subgroup
                      (e.g. group/subgroup).
                    minLength: 1
                    pattern: ^[a-zA-Z0-9_\-\/.]+$
                    type: string
                  projectId:
                    description: ProjectID is the ID of the project in GitLab.
                    minimum: 0
                    type: integer
                required:
                - name
                - namespace
                - projectId
                type: object
              scmProviderRef:
                description: ScmProviderObjectReference is a reference to a SCM provider
                  object.
                properties:
                  kind:
                    default: ScmProvider
                    description: Kind is the type of resource being referenced
                    enum:
                    - ScmProvider
                    - ClusterScmProvider
                    type: string
                  name:
                    description: Name is the name of the resource being referenced
                    maxLength: 253
                    minLength: 1
                    pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
                    type: string
                required:
                - kind
                - name
                type: object
            required:
            - scmProviderRef
            type: object
            x-kubernetes-validations:
            - message: exactly one of the fields in [github gitlab forgejo gitea bitbucketCloud
                azureDevOps fake] must be set
              rule: '[has(self.github),has(self.gitlab),has(self.forgejo),has(self.gitea),has(self.bitbucketCloud),has(self.azureDevOps),has(self.fake)].filter(x,x==true).size()
                == 1'
          status:
            description: GitRepositoryStatus defines the observed state of GitRepository
            properties:
              conditions:
                description: Conditions Represents the observations of the current
                  state.
                items:
                  description: Condition contains details for one aspect of the current
                    state of this API Resource.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - type
                x-kubernetes-list-type: map
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
