---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.3
  name: controllerconfigurations.promoter.argoproj.io
spec:
  group: promoter.argoproj.io
  names:
    kind: ControllerConfiguration
    listKind: ControllerConfigurationList
    plural: controllerconfigurations
    singular: controllerconfiguration
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ControllerConfiguration is the Schema for the controllerconfigurations
          API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: ControllerConfigurationSpec defines the desired state of
              ControllerConfiguration.
            properties:
              argocdCommitStatusRequeueDuration:
                description: |-
                  How frequently to requeue commit status resources for auto reconciliation. Default: "15s".
                  Format is go's time.Duration, e.g. "5m" for 5 minutes.
                type: string
              changeTransferPolicyRequeueDuration:
                description: |-
                  How frequently to requeue proposed commit resources for auto reconciliation. Default: "5m".
                  Format is go's time.Duration, e.g. "5m" for 5 minutes.
                type: string
              disableArgoCDLocalClusterMonitoring:
                description: |-
                  DisableArgoCDLocalClusterMonitoring disables monitoring of Argo CD Applications in the local cluster.
                  Set this to true if the Application CRD is not installed on the local cluster or if there are no
                  Applications running in the local cluster. Default: false.
                type: boolean
              promotionStrategyRequeueDuration:
                description: |-
                  How frequently to requeue promotion strategy resources for auto reconciliation. Default: "5m".
                  Format is go's time.Duration, e.g. "5m" for 5 minutes.
                type: string
              pullRequest:
                description: PullRequestConfiguration defines the configuration for
                  pull requests.
                properties:
                  template:
                    description: Template is the template used to generate pull requests.
                    properties:
                      description:
                        description: |-
                          Description used to generate the description of the pull request.
                          Uses Go template syntax and Sprig functions are available.
                        type: string
                      title:
                        description: |-
                          Title used to generate the title of the pull request.
                          Uses Go template syntax and Sprig functions are available.
                        type: string
                    required:
                    - description
                    - title
                    type: object
                required:
                - template
                type: object
              pullRequestRequeueDuration:
                description: |-
                  How frequently to requeue pull request resources for auto reconciliation. Default: "5m".
                  Format is go's time.Duration, e.g. "5m" for 5 minutes.
                type: string
            required:
            - argocdCommitStatusRequeueDuration
            - changeTransferPolicyRequeueDuration
            - promotionStrategyRequeueDuration
            - pullRequest
            - pullRequestRequeueDuration
            type: object
          status:
            description: ControllerConfigurationStatus defines the observed state
              of ControllerConfiguration.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
