---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.3
  name: clusterscmproviders.promoter.argoproj.io
spec:
  group: promoter.argoproj.io
  names:
    kind: ClusterScmProvider
    listKind: ClusterScmProviderList
    plural: clusterscmproviders
    singular: clusterscmprovider
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ClusterScmProvider is the Schema for the clusterscmproviders
          API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: ScmProviderSpec defines the desired state of ScmProvider
            properties:
              fake:
                description: Fake required configuration for Fake as the SCM provider
                properties:
                  domain:
                    type: string
                type: object
              github:
                description: GitHub required configuration for GitHub as the SCM provider
                properties:
                  appID:
                    description: AppID is the GitHub App ID.
                    format: int64
                    type: integer
                  domain:
                    type: string
                  installationID:
                    description: InstallationID is the GitHub App Installation ID.
                    format: int64
                    type: integer
                required:
                - appID
                - installationID
                type: object
              gitlab:
                description: GitLab required configuration for GitLab as the SCM provider
                properties:
                  domain:
                    type: string
                type: object
              secretRef:
                description: SecretRef contains the credentials required to auth to
                  a specific provider
                properties:
                  name:
                    default: ""
                    description: |-
                      Name of the referent.
                      This field is effectively required, but due to backwards compatibility is
                      allowed to be empty. Instances of this type with an empty value here are
                      almost certainly wrong.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    type: string
                type: object
                x-kubernetes-map-type: atomic
            type: object
          status:
            description: ScmProviderStatus defines the observed state of ScmProvider
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
