---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: gitrepositories.promoter.argoproj.io
spec:
  group: promoter.argoproj.io
  names:
    kind: GitRepository
    listKind: GitRepositoryList
    plural: gitrepositories
    singular: gitrepository
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: GitRepository is the Schema for the gitrepositories API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: GitRepositorySpec defines the desired state of GitRepository
            properties:
              azureDevOps:
                description: AzureDevOpsRepo is a repository in Azure DevOps, identified
                  by its project and name.
                properties:
                  name:
                    description: Name is the name of the repository.
                    maxLength: 64
                    minLength: 1
                    type: string
                  project:
                    description: Project is the project name in Azure DevOps.
                    maxLength: 64
                    minLength: 1
                    type: string
                required:
                - name
                - project
                type: object
              fake:
                description: FakeRepo is a placeholder for a repository in the fake
                  SCM provider, used for testing purposes.
                properties:
                  name:
                    description: Name is the name of the repository.
                    type: string
                  owner:
                    description: Owner is the owner of the repository.
                    type: string
                required:
                - name
                - owner
                type: object
              forgejo:
                description: ForgejoRepo is a repository in Forgejo, identified by
                  its owner and name.
                properties:
                  name:
                    description: Name is the name of the repository.
                    type: string
                  owner:
                    description: Owner is the owner of the repository.
                    type: string
                required:
                - name
                - owner
                type: object
              github:
                description: GitHubRepo is a repository in GitHub, identified by its
                  owner and name.
                properties:
                  name:
                    description: Name is the name of the repository.
                    maxLength: 100
                    pattern: ^[a-zA-Z0-9_\-\.]+$
                    type: string
                  owner:
                    description: Owner is the owner of the repository, which can be
                      a user or an organization.
                    maxLength: 39
                    pattern: ^[a-zA-Z0-9][a-zA-Z0-9\-]*$
                    type: string
                required:
                - name
                - owner
                type: object
              gitlab:
                description: GitLabRepo is a repository in GitLab, identified by its
                  namespace, name, and project ID.
                properties:
                  name:
                    description: Name is the project slug of the repository.
                    pattern: ^[a-zA-Z0-9_\-\/.]+$
                    type: string
                  namespace:
                    description: Namespace is the user, group or group with subgroup
                      (e.g. group/subgroup).
                    pattern: ^[a-zA-Z0-9_\-\/.]+$
                    type: string
                  projectId:
                    description: ProjectID is the ID of the project in GitLab.
                    type: integer
                required:
                - name
                - namespace
                - projectId
                type: object
              scmProviderRef:
                description: ScmProviderObjectReference is a reference to a SCM provider
                  object.
                properties:
                  kind:
                    default: ScmProvider
                    description: Kind is the type of resource being referenced
                    enum:
                    - ScmProvider
                    - ClusterScmProvider
                    type: string
                  name:
                    description: Name is the name of the resource being referenced
                    type: string
                required:
                - kind
                - name
                type: object
            required:
            - scmProviderRef
            type: object
          status:
            description: GitRepositoryStatus defines the observed state of GitRepository
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
