---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: proposedcommits.promoter.argoproj.io
spec:
  group: promoter.argoproj.io
  names:
    kind: ProposedCommit
    listKind: ProposedCommitList
    plural: proposedcommits
    singular: proposedcommit
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.active.dry.sha
      name: Active Dry Sha
      type: string
    - jsonPath: .status.proposed.dry.sha
      name: Proposed Dry Sha
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ProposedCommit is the Schema for the proposedcommits API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: ProposedCommitSpec defines the desired state of ProposedCommit
            properties:
              activeBranch:
                description: ActiveBranch staging hydrated branch
                type: string
              activeCommitStatuses:
                description: ActiveCommitStatuses what statuses are required for the
                  active branch
                items:
                  properties:
                    key:
                      pattern: (([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])?
                      type: string
                  required:
                  - key
                  type: object
                type: array
              proposedBranch:
                description: ProposedBranch staging hydrated branch
                type: string
              proposedCommitStatuses:
                description: ProposedCommitStatuses what statuses are required for
                  the proposed branch
                items:
                  properties:
                    key:
                      pattern: (([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])?
                      type: string
                  required:
                  - key
                  type: object
                type: array
              repository:
                description: RepositoryReference what repository to open the PR on.
                properties:
                  name:
                    type: string
                  owner:
                    type: string
                  scmProviderRef:
                    properties:
                      name:
                        type: string
                      namespace:
                        type: string
                    required:
                    - name
                    type: object
                required:
                - name
                - owner
                - scmProviderRef
                type: object
            required:
            - activeBranch
            - proposedBranch
            - repository
            type: object
          status:
            description: ProposedCommitStatus defines the observed state of ProposedCommit
            properties:
              active:
                properties:
                  commitStatuses:
                    items:
                      properties:
                        key:
                          description: Key staging hydrated branch
                          type: string
                        status:
                          description: Phase what phase is the status in
                          type: string
                      required:
                      - key
                      - status
                      type: object
                    type: array
                  dry:
                    properties:
                      commitTime:
                        format: date-time
                        type: string
                      sha:
                        type: string
                    type: object
                  hydrated:
                    properties:
                      commitTime:
                        format: date-time
                        type: string
                      sha:
                        type: string
                    type: object
                type: object
              proposed:
                description: |-
                  INSERT ADDITIONAL STATUS FIELD - define observed state of cluster
                  Important: Run "make" to regenerate code after modifying this file
                properties:
                  commitStatuses:
                    items:
                      properties:
                        key:
                          description: Key staging hydrated branch
                          type: string
                        status:
                          description: Phase what phase is the status in
                          type: string
                      required:
                      - key
                      - status
                      type: object
                    type: array
                  dry:
                    properties:
                      commitTime:
                        format: date-time
                        type: string
                      sha:
                        type: string
                    type: object
                  hydrated:
                    properties:
                      commitTime:
                        format: date-time
                        type: string
                      sha:
                        type: string
                    type: object
                type: object
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
