name: Bump Docs Manifests

on:
  workflow_dispatch:
    inputs:
      new_version:
        description: 'New version (e.g. 1.2.3)'
        required: true
        type: string

permissions:
  contents: write  # for creating PRs and pushing changes
  pull-requests: write  # for opening PRs

jobs:
  bump-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up Git
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"
      - name: Bump manifest versions in docs
        run: |
          chmod +x hack/bump-docs-manifests.sh
          ./hack/bump-docs-manifests.sh ${{ github.event.inputs.new_version }}
          git add docs/getting-started.md docs/tutorial-argocd-apps.md docs/argocd-integrations.md
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          commit-message: "docs: bump manifest versions to v${{ github.event.inputs.new_version }}"
          title: "docs: bump manifest versions to v${{ github.event.inputs.new_version }}"
          body: "Automated PR to bump manifest versions in documentation."
          branch: "bump-docs-manifests/v${{ github.event.inputs.new_version }}"
          delete-branch: true
          signoff: true

