name: test-e2e
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        kubernetes-minor-version:
          - 1.28.0
          - 1.29.0
          - 1.30.0
    name: E2E Tests
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # pin@v5
        with:
          go-version: '1.25'
          # see https://github.com/actions/setup-go?tab=readme-ov-file#caching-dependency-files-and-build-outputs
          cache-dependency-path: |
            go.sum
      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1
        with:
          cluster_name: kind
          version: v0.23.0
          node_image: kindest/node:v${{ matrix.kubernetes-minor-version }}
          kubectl_version: v${{ matrix.kubernetes-minor-version }}
      - name: Checkout Repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # pin@v4
      - name: Run E2E-Tests
        run: make test-e2e
