name: test-e2e
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}
jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        kubernetes-minor-version:
          - 1.29.0
          - 1.30.0
          - 1.31.0
    name: E2E Tests
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Set up Go
        uses: actions/setup-go@ae252ee6fb24babc50e89fc67c4aa608e69fbf8f # pin@v5
        with:
          go-version: '1.25'
          # see https://github.com/actions/setup-go?tab=readme-ov-file#caching-dependency-files-and-build-outputs
          cache-dependency-path: |
            go.sum
      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1
        with:
          cluster_name: kind
          version: v0.30.0
          node_image: kindest/node:v${{ matrix.kubernetes-minor-version }}
          kubectl_version: v${{ matrix.kubernetes-minor-version }}
      - name: Checkout Repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # pin@v4
      - name: Run E2E-Tests
        run: make test-e2e
