# see https://github.com/argoproj-labs/argocd-ephemeral-access/blob/main/.github/workflows/release.yaml
# this file must be kept in sync with the above release-latest.yaml except for the trigger and job name
name: release

on:
  push:
    branches:
      - main
    paths:
      - 'docs/getting-started.md'
      - 'docs/tutorial-argocd-apps.md'

permissions:
  contents: write
  packages: write

env:
  # If set in the repo env vars it will use this tag to build the release notes.
  # Useful when creating a release tag after a release candidate tags phase.
  GORELEASER_PREVIOUS_TAG: ${{vars.GORELEASER_PREVIOUS_TAG}}

defaults:
  run:
    shell: bash

jobs:
  release:
    runs-on: ubuntu-24.04
    if: |
      github.repository == 'argoproj-labs/gitops-promoter' && contains(github.event.head_commit.message, 'docs: bump manifest versions to v')
    name: Release
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Set up Docker
        uses: docker/setup-docker-action@206b75dbd282c4008313f59196a28caf84eb4198
        with:
          version: type=image,tag=29.1.5

      - name: Extract version from commit message
        id: extract_version
        env:
          COMMIT_MSG: ${{ github.event.head_commit.message }}
        run: |
          VERSION=$(printf '%s\n' "$COMMIT_MSG" | head -n1 | grep -oE 'v[0-9]+\.[0-9]+\.[0-9]+')
          echo "version=$VERSION" >> $GITHUB_OUTPUT
      - name: Create tag
        if: steps.extract_version.outputs.version != ''
        run: |
          git tag ${{ steps.extract_version.outputs.version }}
          git push origin ${{ steps.extract_version.outputs.version }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: "1.25"

      - name: Docker Login in quay.io
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_TOKEN }}

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          distribution: goreleaser
          version: v2.13.2
          args: release --clean --verbose
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
