name: Check Spelling

permissions:
  contents: read

on: 
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

env:
  CLICOLOR: 1

jobs:
  spelling:
    timeout-minutes: 5
    name: Spell Check with Typos
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Actions Repository
      uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 # pin@v6
    - name: Spell Check Repo
      uses: crate-ci/typos@9066e9940a8a05b98fb4733c62a726f83c9e57f8  # v1.43.3
