name: tilt-ci.yaml

permissions:
  contents: read

on:
  push:
    branches: [main]
    paths:
      - 'Dockerfile*'
      - 'config/**'
      - 'Tiltfile'
  pull_request:
    branches: [main]
    paths:
      - 'Dockerfile*'
      - 'config/**'
      - 'Tiltfile'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  run-lint-ci:
    name: Run Tilt CI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 # pin@v4

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: "1.25"

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: ui/dashboard/package-lock.json

      - name: Create Kind cluster
        uses: helm/kind-action@v1
        with:
          version: v0.30.0

      - name: Install Tilt
        run: |
          curl -fsSL https://raw.githubusercontent.com/tilt-dev/tilt/master/scripts/install.sh | bash

      - name: Run Tilt CI
        run: tilt ci